.inproject {
  font-size: 3.75rem;
  font-weight: bold;
  text-align: center;
}

.inproject1 {
  display: flex;
  flex-direction: column;
}

.crd_div2 {
  font-size: 1.25rem;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .inproject1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .inproject1 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
